
.Price{
    background: white;
}
.footer{
    /* background-color: aqua; */
    position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  
}
.PriceItem{
    color: wheat;
}
.title{
    color: black;
}
.PriceItem:hover{
    color: wheat;
}
.listgroup{
    background-color: #141414;
    text-align: center;
    color:wheat;
    border-top: 1px solid white;
}
#Listgroup{
border-radius: 30px;
}