@font-face {
    src: url('../Font/Intro/intro.ttf');
    font-family: 'import';
}

.infoelements{
    padding-top: 2%
}
.CenterTitle{
    text-align: center;
    padding-top: 2%;

}
.ErrorText{
    color: red;
}
.ErrorContainer{
    padding-top: 20%;
}
/* .container{
    padding-top: 20px;
} */
.ElementsPosition{
    background-color: #53d1f73b;
    padding-top: 5%;
    padding-bottom: 5%;
}
.navbar-expand{
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color : blue ;
}

.fa{
    width: 50px; 
    height: 1.5rem;
}
.gisico{
    width: 50px;
    height: 1.5rem;
}
.faya{
    width: 50px;
    height: 1.2rem; 
}
.fa :hover{
    color: wheat;
}
.gisico :hover{
    color: wheat;
}
.faya:hover{
    color: wheat;
}
#footer{
    position: absolute;
  bottom: 0;
}
.navbar{
    background: #141414;
}
.navitem{
    color: white;
    font-family: import;
    font-size: 20px;
    margin-right: 30px;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: white;
}
.navbar-light .navbar-toggler-icon {

    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navitem:hover{
    color: wheat;

}
.titleaboutinfo{
    font-family: import;
}
.linkactive{
    color: white;
    border-bottom: 1px solid white;
}
.icogisactive{
    color: black;
    width: 50px;
    height: 1.5rem;
}
.icogisactive:hover{
    color: wheat;
}
.linkactive:hover{
    color:wheat;
}
.contact-list{
    color: white;
}
.adress{
    color: white;
    font-size: 15px;
}
.telephone{
    font-family: import;
    color: white;
}
.itemsbrand{
    margin-left: 27%;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: white;
}
.phonebrand{
    max-width: 100%;
    margin-left: 0; 
    font-family: import;
    color: white;
    font-size: 20px; 
}
@media screen and (max-width: 780px){
    .itemsbrand{
        margin-left: 40%;
    }
    .phonebrand{
        margin-left: 40%;  
    }
    
    }