.footer{
    /* background-color: aqua; */
    text-align: center;
    position: relative;
    left: 0;
    /* bottom: 0; */
    right: 0;
}
.infoelements{
    padding-top: 2%
}
.CenterTitle{
    text-align: center;
    padding-top: 2%;

}
.container{
    padding-top: 20px;
}
.ElementsPosition{
    background-color: #53d1f73b;
    padding-top: 5%;
    padding-bottom: 5%;
}
.navbar-expand{
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color : blue ;
}

.fa{
    width: 50px;
    height: 1.5rem;
}