@font-face {
    src: url('../Font/Intro/intro.ttf');
    font-family: 'import';
}
.footer{
    /* background-color: aqua; */
    position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
.infoelements{
    padding-top: 2%
}
.CenterTitle{
    text-align: center;
    padding-top: 2%;

}
.container{
    padding-top: 20px;
}
.ElementsPosition{
    background-color: #53d1f73b;
    padding-top: 5%;
    padding-bottom: 5%;
}
.navbar-expand{
    justify-content: center;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color : blue ;
}

.fa{
    width: 50px; 
    height: 1.5rem;
}
.gisico{
    width: 50px;
    height: 1.5rem;
}
.faya{
    width: 50px;
    height: 1.2rem; 
}
.fa :hover{
    color: wheat;
}
.gisico :hover{
    color: wheat;
}
.faya:hover{
    color: wheat;
}
#footer{
    position: absolute;
  bottom: 0;
}
.navbar{
    background: #141414;
}
.navitem{
    color: white;
}
.navitem:hover{
    color: wheat;

}
.titleaboutinfo{
    font-family: import;
}
.linkactive{
    color: white;
    border-bottom: 1px solid white;
}
.icogisactive{
    color: black;
    width: 50px;
    height: 1.5rem;
}
.icogisactive:hover{
    color: wheat;
}
.linkactive:hover{
    color:wheat;
}
.contact-list{
    color: white;
}
.adress{
    color: white;
    font-size: 15px;
}