.titles{
    border-bottom: 1px solid hsl(197, 98%, 47%);
    display: inline-block;
    padding-bottom: 20px;
    color:white;
}
.ElementsPosition{
    background-color: #141414;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
}
.titleabout{
    text-align: center;
}
.lineabout{
    border-bottom: 1px solid hsl(197, 98%, 47%);
    display: inline-block;
    padding-bottom: 5px;
    color: wheat;
    cursor: pointer;
}

.aboutinfo{
    color: wheat;
}
.titleinfo{
    color: white;
    text-align: center;
}
/* .section-title{
    padding-bottom: 60px;
} */
.CardElementsInfo{
    background-color: #141414;
}
.card-header{
    background-color: transparent;
    padding: 0;
}
.card{
    border: 0;
}
.titleinfo{
    padding-top: 35px;
}
.elementsinfotitle{
    color: white;
}
.paddingelement{
    margin-left: 13%;
}

@media screen and (max-width: 600px){
    .paddingelement{
        margin-left: 1px;
    }
	}