.LogoImg{
    max-width: 100%;
    width: 45%;
}
.LogoimgScania{
    max-width: 100%;
    width: 50%;
    height: 100%;
}
.LogoImgAsh{
    max-width: 100%;
    width: 55%;

}
.LogoImgJac{
    max-width: 100%;
    width: 55%;
    margin-top: 25%;
}
.LogoimgTtm{
    max-width: 100%;
    width: 35%;
}
.LogoImg1{
    max-width: 100%;
    width: 40%; 
}
.LogoImgH{
    max-width: 100%;
    width: 50%;
    margin-top:9%;
}
.LogoImgBpw{
    max-width: 100%;
    width: 45%;
    margin-right:20px;
}
.LogoImgIsuzu{
    max-width: 100%;
    width: 45%;
    margin-top: 17%; 
}
.logos{
    padding-bottom: 20px;   
}
.LogoImgSaf{
    max-width: 100%;
    width: 60%;
    margin-top: 19%;
}
.LogoImgWeb{
    max-width: 100%;
    width: 80%;
    margin-top: 10%;
    margin-left: -10%;
}
.LogoImgCarrier{
    max-width: 100%;
    width: 65%; 
}
.svgico{
    margin-left: 220px;
}
@media screen and (max-width: 600px){
    .LogoImg{
        width: 250%;
    }
    .svgico{
        margin-left: 45px;
    }
    .Logoimg2{
        
        width: 250%;
    }
    .LogoImg3{
        
        width: 250%;
    }
    .LogoImgSaf{
        max-width: 100%;
        width: 100%;
        margin-top: 43%;
    }
    .LogoImgWeb{
        max-width: 100%;
        width: 100%;
        margin-top: 42%;
    }
    .LogoImgIsuzu{
        max-width: 100%;
        width: 100%;
        margin-top: 42%; 
    }
    .LogoimgScania{
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

}
.LastAds{
    margin-left: 20%;

}
.LogoImgScania{
    width: 100%;
     
}