.LogoImg{
    max-width: 100%;
    width: 80%;
}
.Logoimg2{
    max-width: 100%;
    width: 80%;
}
.LogoImg3{
    max-width: 100%;
    width: 80%;
}
.LogoimgTtm{
    max-width: 100%;
    width: 60%;
}
.LogoImg1{
    max-width: 100%;
    width: 80%; 
}
.LogoImgH{
    max-width: 100%;
    width: 80%;
    margin-top:20%;
}
.LogoImgBpw{
    max-width: 100%;
    width: 80%;
    margin-right:20px;
}
.LogoImgIsuzu{
    max-width: 100%;
    width: 80%;
    margin-top: 33%; 
}
.logos{
    padding-bottom: 20px;   
}
.LogoImgSaf{
    max-width: 100%;
    width: 80%;
    margin-top: 33%;
}
.LogoImgWeb{
    max-width: 100%;
    width: 80%;
    margin-top: 32%;
}
.LogoImgCarrier{
    max-width: 100%;
    width: 80%;
    margin-top: 21%; 
}
.svgico{
    margin-left: 220px;
}
@media screen and (max-width: 600px){
    .LogoImg{
        width: 250%;
    }
    .svgico{
        margin-left: 45px;
    }
    .Logoimg2{
        
        width: 250%;
    }
    .LogoImg3{
        
        width: 250%;
    }
    .Saf{
        width:250%;
    }

}
.LastAds{
    margin-left: 20%;

}
.LogoImgScania{
    width: 100%;
     
}