    .firstform{
        max-width: 100%;
        background-color: #141414;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
        /* margin-right: 1.5%;
        padding-top: 100px;
        padding-bottom: 100px; */
        /* width: 1157px; */
        margin: 10px;
        margin-right: 200px;
        margin-left: 200px;

    }
    .Name{
        margin-left: 35%;
    }
    .Phone{
        margin-right: 35%;
        
    }
    .mail{
        margin-left: 17%;
        margin-right: 17%;
    }
    .keks{
        margin-right: 35%;
    }
    @media screen and (max-width: 600px){
        
        .firstform{
            max-width: 100%;
            margin-right: 5px;
            margin-left: 5px;
        }
        .Name{
            margin-left: 10%;
        }
        .keks{
            margin-right: 10%;
            
        }
        .mail{
            margin-left: 4%;
            margin-right: 4%;
        }
      
        .titleForm{
            font-size: 25px;
        }
        
        
        
    }
    @media screen and (max-width: 900px){
        
        .firstform{
            max-width: 100%;
            margin-right: 5px;
            margin-left: 5px;
        }
        .Name{
            margin-left: 10%;
        }
        .keks{
            margin-right: 10%;
            
        }
        .mail{
            margin-left: 4%;
            margin-right: 4%;
        }
      
        .titleForm{
            font-size: 25px;
        }
        
        
        
    }
    .titleForm{
        max-width: 100%;
        text-align: center;
        color: white;
        padding-top: 20px; 
        /* margin-bottom: 4%; */
    }
    .Send{
        width: 110px;
    height: 50px;
    border-radius: 50px;
        /* border-color: transparent;
        text-align: center; */  
    }
    #acive.Send{
        background-color: blueviolet;
    }
    .sendcontainer{
        text-align: center;
        padding-top: 2%;
        padding-bottom: 20px;
    }
    .form-control{
        border-width: 0 0 1px;
        background-color: transparent;
        border-bottom: 1px solid hsl(197, 98%, 47%);
        
        
            
    }
    Label{
        color: wheat;
    }
  
 .aboutText{
     color: white;
     text-align: center;
 }