.CenterTextInfo{
    text-align: center;
    color: #918888; 
    padding-bottom: 3%;
}
.Title{
    padding-bottom: 2%;
    padding-top: 2%;
    border-bottom: 1px solid hsl(197, 98%, 47%);
    padding-bottom: 20px;
    display: inline-block;
    margin-left: 34%;
}
header {
	
	background-size: cover;
	color: #cfcfcf;
	position: relative;
	height: 100%;
}
.btn-default {
	color: #71bd46;
	font-family: 'Open Sans', sans-serif;
	background-color: transparent;
	border: 1px solid #71bd46;
	border-radius: 4px;
	margin: 0 8px;
	font-size: 18px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #71bd46;
	border: 1px solid #71bd46;
	color: #eeeeee;
}
.title{
	text-align: center;
	padding-bottom: 20px;
}
.titleabout{
	text-align: center;
	color: black;
	
}
.titleaboutinfo{
	text-align: center;
	color: white;
}
.MainPosition{
	height: 600px;
    background-image: url("./main.png");
    background-size: cover;
    background-repeat: no-repeat;
	background-position: 100% 100%;
	max-width: 100%;
}
.text{
	padding-top: 70px;
}
.abouts{
	color: white;
    text-align: center;
	font-size: 20px;
	/* font-weight: 500;
	width: 550px; */
}
.abouts{
	margin-top: 120px;
	
}
/* @media (min-width: 760px){
.MainPosition{
	max-width: 24%;
}
}
@media (min-width:420px){
	.MainPositionP{
	min-width: 48%;
}
} */
